.cart-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.quantity {
  width: 80px;
}

.cart-summary {
  background-color: #f8f9fa;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
